.userList {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;

    & h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px;
    }
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        text-align: center;
        margin: 20px;
        padding: 20px;
        background-color: yellow;
        border-radius: 5%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        & img {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px auto;
            border: solid 8px white;
            border-radius: 50%;
            background-color: white;
        }
        & h3 {
            display: block;
            text-align: center;
            font-weight: bold;
            margin: 10px;
        }

        & p {
            font-size: 24px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: italic; 
        }
    }
}
